@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #141414, #9b59b6);
}

.container{
    min-height: 67vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border-radius: 10px;
    background-color: #141414;
}

.container .title{
    margin-top: 1.5rem;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #141414, #9b59b6);
}

.container form{
    background: #141414;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 0rem 2rem 2rem 2rem;
    width: 600px;
    padding-top: 10px;
}

.container form .inputBox{
    font-weight: 500;
    margin-top: 20px;
}

.container form .inputBox span{
    display: block;
    color:#ffffff;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #3b3b3b;
    border:1px solid rgba(0,0,0,.3);
    color:#fff;
}

.container form .flexbox{
    display: flex;
    gap:15px;
}

.container form .flexbox .inputBox{
    flex:1 1 150px;
}

.container form .submit-btn{
    width: 100%;
    background-color:#9b59b6;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.container form .submit-btn:hover{
    background-color:#775088;
}