:root {
	--primary-color: #e50914;
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
    margin: 40px;
}

.showcase-top img{
    width: 140px;
    position: absolute;
    top: 7%;
    left: -23px;
    transform: translate(40% , -50%);
}

.showcase-top{
	margin: 87px -30px 80px -30px;
	border-bottom: 0.05px rgb(66, 62, 62) solid;
}

/* Text Styles */
.text-lg {
	font-size: 1.8rem;
	margin-bottom: 1rem;
    line-height: -12px;
}

.text-lg p{
    color: rgb(206, 194, 194);
	margin-bottom: 6rem;
}

.text-center {
	text-align: center;
}

/* Buttons */
.btn {
	background: var(--primary-color);
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 2px;
    text-decoration: none;
}

.btn:hover {
	opacity: 0.9;
}

.btn-rounded {
	border-radius: 5px;
}

.btn-lg {
	font-size: 1rem;
	padding: 0.8rem 1.3rem;
	position: absolute;
	top: 285px;
}

.btn1{
	right: 470px;
}

.btn2{
	right: 270px;
}

.btn3{
	right: 90px;
}
/* Tabs */
.tabs {
	background: var(--dark-color);
	padding-top: 1rem;
	border-bottom: 3px solid #3d3d3d;
	border-right: none;
}

.tabs p {
	font-size: 1.2rem;
	padding-top: 0.5rem;
}

.tabs .container{
	border-top: 100px rgb(255, 253, 253) solid;
}

.tabs .container > div:hover {
	color: #fff;
	cursor: pointer;
}

/* Tab Content */
.tab-content {
	background: #000;
	color: #fff;
}

.table {
	width: 100%;
	margin-top: 3rem;
	border-collapse: collapse;
	border-spacing: 0;
}

.table thead th {
	text-transform: uppercase;
	padding: 0.8rem;
}

.table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.table tbody tr td {
	color: #999;
	padding: 0.8rem 1.2rem;
	text-align: center;
}

.table tbody tr td:first-child {
	text-align: left;
}

.table tbody tr:nth-child(odd) {
	background: #222;
}