<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    <link rel="stylesheet" href="admin-panel-table.css">
    <link rel="icon" href="logo.png" type="image/icon type">
    <title>Admin Panel</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <!-- Logo + name -->
                <div class="logo">
                    <img src="logo.png" alt="">
                    <h2>AE<span style="color: #df1e24;">Flix</span></h2>
                </div>
            </div>

            <div class="sidebar">
                <!-- Dashboard -->
                <a href="admin-panel-dashboard"><span class="material-icons">grid_view</span><h3>Dashboard</h3></a>
                
                <!-- Profile -->
                <a href="admin-panel-profile" ><span class="material-icons">person</span><h3>Profile</h3></a>

                <!-- Adminss -->
                <a href="admin-panel-admin"><span class="material-icons">verified_user</span><h3>Admins</h3></a>
                
                <!-- Customers -->
                <a href=""  class="active"><span class="material-icons">group</span><h3>Customers</h3></a>
                
                <!-- Subscriptions -->
                <a href="admin-panel-subscribers"><span class="material-icons">subscriptions</span><h3>Subscriptions</h3></a>
                
                <!-- Actors -->
                <a href="admin-panel-actors"><span class="material-icons">theater_comedy</span><h3>Actors</h3></a>

                <!-- Producers -->
                <a href="admin-panel-producers"><span class="material-icons">video_camera_front</span><h3>Producers</h3></a>

                <!-- Directors -->
                <a href="admin-panel-directors"><span class="material-icons">videocam</span><h3>Directors</h3></a>
                
                <!-- Videos -->
                <a href="admin-panel-videos"> <span class="material-icons">theaters</span><h3>Videos</h3></a>
                
                <!-- Video Requests -->                  
                <a href="admin-panel-requests"><span class="material-icons">mail</span><h3>Requests</h3></a>
                
                <!-- Customer Feedbacks -->
                <a href="admin-panel-feedbacks"><span class="material-icons">reviews</span><h3>Feedbacks</h3></a>
                
                <!-- Log Out -->
                <a href="landing-page"><span class="material-icons">logout</span><h3>Log Out</h3></a>
            </div>
        </aside>

        <!-- --------------------- END OF ASIDE ---------------------------- -->
        <main>
            <h1>Customers</h1>
            <div class="top">
                <div class="search">
                    <input type="text" placeholder="Search">
                    <span class="material-symbols-sharp">search</span>
                </div>
            </div>
            
            <div class="sub">

            </div>

            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <div class="profile-pic">
                        <img src="Aaron Eckhart.jpg" alt="">
                    </div>
                    <div class="name">
                        <p>Name: </p>
                        <span>Aaron Eckhart</span>
                    </div>
                    <div class="email">
                        <p>Email: </p>
                        <span>aaron_eckhart@gmail.com</span>
                    </div>
                    <div class="password">
                        <p>Password: </p>
                        <span>eck12345</span>
                    </div>
                    <div class="gender">
                        <p>Gender:</p>
                        <span>Male</span>
                    </div>
                    <div class="contact">
                        <p>Contact:</p>
                        <span>0333-8177824</span>
                    </div>
                    <div class="line">
                        
                    </div>
                    <div class="btn">
                        <div class="delete-btn-cust">
                            <a href="#divOne" onclick="closeNav()">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Confirmation popup  -->
             <div class="popup" id="divOne">
                <div class="wrapper">
                    <h2>REMOVING CUSTOMER</h2>
                    <div class="content">
                        <div class="confirm-container">
                            <span>Are you sure you want to delete this customer?</span>
                            <div class="confirmation">
                                <a href="" id="yes">Yes</a>
                                <a href="" id="no">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-data">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Gender</th>
                            <!-- <th>Status</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for (let i = 0; i < cust_Data.length; i++) {%>
                            <tr>
                                <td><%= cust_Data[i][0]%></td>
                                <td><%= cust_Data[i][1]%></td>
                                <td><%= cust_Data[i][2]%></td>
                                <td><%= cust_Data[i][3]%></td>
                                <td class="action"><span style="cursor:pointer" onclick="openNav()">Preview</span></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </main>      
        <!------------------------------ END OF MAIN ------------------------->
    </div>

    <script src="admin-panel-customers.js"></script>
</body>
</html>