<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      
    <link rel="stylesheet" href="admin-panel-dashboard.css">
    <link rel="icon" href="logo.png" type="image/icon type">
    <title>Admin Panel
    </title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <!-- Logo + name -->
                <div class="logo">
                    <img src="logo.png" alt="">
                    <h2>AE<span style="color: #df1e24;">Flix</span></h2>
                </div>
            </div>

            <div class="sidebar">
                <!-- Dashboard -->
                <a href="" class="active"><span class="material-symbols-sharp">grid_view</span><h3>Dashboard</h3></a>
                
                <!-- Profile -->
                <a href="admin-panel-profile" ><span class="material-icons">person</span><h3>Profile</h3></a>

                <!-- Adminss -->
                <a href="admin-panel-admin"><span class="material-icons">verified_user</span><h3>Admins</h3></a>
                
                <!-- Customers -->
                <a href="admin-panel-customers">
                    <span class="material-icons">group</span>
                    <h3>Customers</h3>
                </a>
                
                <!-- Subscriptions -->
                <a href="admin-panel-subscribers"><span class="material-icons">subscriptions</span><h3>Subscriptions</h3></a>
                
                <!-- Actors -->
                <a href="admin-panel-actors"><span class="material-icons">theater_comedy</span><h3>Actors</h3></a>

                <!-- Producers -->
                <a href="admin-panel-producers"><span class="material-icons">video_camera_front</span><h3>Producers</h3></a>

                <!-- Directors -->
                <a href="admin-panel-directors"><span class="material-icons">videocam</span><h3>Directors</h3></a>
                
                <!-- Videos -->
                <a href="admin-panel-videos"> <span class="material-icons">theaters</span><h3>Videos</h3></a>
                               
                <!-- Video Requests -->                  
                <a href="admin-panel-requests"><span class="material-icons">mail</span><h3>Requests</h3></a>

                <!-- Customer Feedbacks -->
                <a href="admin-panel-feedbacks"><span class="material-icons">reviews</span><h3>Feedbacks</h3></a>
                
                <!-- Log Out -->
                <a href="landing-page"><span class="material-icons">logout</span><h3>Log Out</h3></a>
            </div>
        </aside>

        <!-- --------------------- END OF ASIDE ---------------------------- -->
        <main>
            <h1>Dashboard</h1> 
                  
            <div class="date">
                    <span>Select Date:</span>
                <div class="date-input">
                    <input type="date">
                </div>
                
            </div>
            <div class="insights">

                <div class="new-customers">
                    <span class="material-symbols-sharp">group_add</span>
                    <div class="middle">
                        <div class="left">
                            <h3>New Customers</h3>
                            <h1>1500</h1>
                        </div>
                    </div>
                    <small class="text-muted">Within 24 hours</small>
                </div>

                <!--------------------END OF CUSTOMERS ---------------------->

                <div class="subscriptions">
                    <span class="material-symbols-sharp">subscriptions</span>
                    <div class="middle">
                        <div class="left">
                            <h3>New Subscribers</h3>
                            <h1>25000</h1>
                        </div>
                        
                    </div>
                    <small class="text-muted">Within 24 hours</small>
                </div>

                <!--------------------END OF SUBSCRIPTIONS ---------------------->

                <div class="new-media">
                    <span class="material-symbols-sharp">add_to_queue</span>
                    <div class="middle">
                        <div class="left">
                            <h3>New Media</h3>
                            <h1>25</h1>
                        </div>
                        
                    </div>
                    <small class="text-muted">Within 24 hours</small>
                </div>

                <!--------------------END OF NEW MEDIA ---------------------->                

            </div>

            <!------------------------END OF INSIGHTS ------------------------>
            
            <div class="annual-report">
                <h2>Annual Report</h2>
                <span>Select year:</span>
                <select name="year">
                    <option value="month" selected disabled>2022</option>
                    <option value="2018">2022</option>
                    <option value="2018">2021</option>
                    <option value="2018">2020</option>
                    <option value="2018">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                <select name="" id=""></select>
                <canvas id="chart">
                </canvas>
            </div>
            
            <!----------------------END OF ANNUAL REPORT --------------------->
        </main>      
        <!------------------------------ END OF MAIN ------------------------->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="admin-panel-dashboard.js"></script>
</body>
</html>