<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-------------------------- CSS ------------------------>
    <link rel="stylesheet" href="user-panel-search.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="/other-images/logo.png" type="image/icon type">

    <title>Search Videos</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <!-- Logo + name -->
                <div class="logo">
                    <img src="/other-images/logo.png" alt="">
                    <h2>AE<span style="color: #df1e24;">Flix</span></h2>
                </div>
            </div>

            <div class="sidebar">
                <!-- Profile -->
                <a href="user-panel-profile"><span class="material-icons" >person</span><h3>Your Profile</h3></a>
 
                <!-- Subscriptions -->
                <a href="user-panel-subscriptions" ><span class="material-icons">subscriptions</span><h3>Subscriptions</h3></a>
 
                <!-- Search Videos -->
                <a href="" class="active"><span class="material-icons">search</span><h3>Search Videos</h3></a>

                <!-- Request Videos -->
                <a href="user-panel-request" ><span class="material-icons">mail</span><h3>Request Videos</h3></a>
 
                <!-- My List -->
                <a href="user-panel-list" ><span class="material-icons">playlist_play</span><h3>Your Lists</h3></a>
 
                <!-- Others-->
                <a href="user-panel-others" ><span class="material-icons">contact_support</span><h3>Others</h3></a>
 
                <!-- Log Out -->
                <a href="/same-panels/landing-page.html" ><span class="material-icons">logout</span><h3>Log Out</h3></a>            </div>
        </aside>

        <!-- --------------------- END OF ASIDE ---------------------------- -->
        <div class="main">
            <h1>Search Videos</h1>
            <!-- Movie overlay on right side -->
            <!-- Placed it here ta k gum na jaye, nazar aa jaye while working -->
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <div class="media-title">
                        <label>Title</label>
                        <p>A Quiet Place</p>
                    </div>
                    <div class="desc">
                        <label>Description</label>
                        <div class="desc-sub">
                            <p>
                            A family struggles for survival in a world where most humans
                            have been killed by blind but noise-sensitive creatures. 
                            They are forced to communicate in sign language to keep the 
                            creatures at bay.</p>
                        </div>
                    </div>
                    <div class="rating">
                        <label>Rating</label>
                        <p>7.5</p>
                    </div>
                    <div class="duration">
                        <label>Duration</label>
                        <p>01:20:00</p>
                    </div>
                    <div class="release-date">
                        <label>Release Date</label>
                        <p>06-APR-18</p>
                    </div>
                    <div class="line"></div>
                    <div class="buttons">
                        <a href="#fav" onclick="closeNav();"><span class="material-icons fav">favorite</span></a>
                        <a href="#playlist" onclick="closeNav();"><span class="material-icons playlist">playlist_add</span></a>
                        <a href="#watch-later" onclick="closeNav();"><span class="material-icons later">watch_later</span></a>
                    </div>
                </div>
            </div>

            <div class="movie-list-container">
                <div class="title">
                    <span>MOVIES</span>
                    <i class="fa-solid fa-chevron-right arrow"></i>
                </div>
                <div class="wrapper">
                    <div class="top">
                        <form action="#" method="post">
                            <div class="search">
                                <input type="text" name="searchBox" placeholder="Search">
                                <span class="material-icons">search</span>
                            </div>
                        </form> 
                    </div>
                    <div class="movie-list">
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/A Quiet Place.png" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>           

                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/Bird Box.jpg" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/Don't Breathe.png" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/Five Feet Apart.png" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/Joker.jpg" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/Jurassic World Dominion.jpg" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/La La Land.png" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/Now You See Me.jpg" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/Red Notice.jpg" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/The Dark Knight.jpg" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Movies/The Fault in our Stars.jpg" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="movie-list-container">
                <div class="title">
                    <span>TV SHOWS</span>
                    <i class="fa-solid fa-chevron-right arrow"></i>
                </div>
                <div class="wrapper">
                    <div class="top">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <span class="material-icons">search</span>
                        </div>
                    </div>
                    <div class="movie-list">
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Series/Euphoria.jpg" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Series/Squid Game.png" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                        <div class="item" style="cursor:pointer" onclick="openNav()">
                            <img class="item-img" src="/other-images/Media/Series/The Queen's Gambit.jpg" alt="">
                            <div class="item-title">
                                <span>Her</span>
                            </div>
                            <div class="item-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit 
                                    placeat vitae in reprehenderit odit.</p>
                            </div>
                            <div class="item-btn">
                                <button>Play</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Confirmation popup (Favorites)  -->
             <div class="popup" id="fav">
                <div class="wrapper">
                    <h2>ADDING TO FAVORITES</h2>
                    <div class="content">
                        <div class="confirm-container">
                            <span>Media added to Favorites.</span>
                            <div class="confirmation">
                                <a href="" id="yes">Ok</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Confirmation popup (Playlist) -->
            <div class="popup" id="playlist">
                <div class="wrapper">
                    <h2>ADDING TO PLAYLIST</h2>
                    <div class="content">
                        <div class="confirm-container">
                            <span>Media added to Playlist.</span>
                            <div class="confirmation">
                                <a href="" id="yes">Ok</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Confirmation popup (Watch Later) -->
            <div class="popup" id="watch-later">
                <div class="wrapper">
                    <h2>ADDING TO WATCH LATER</h2>
                    <div class="content">
                        <div class="confirm-container">
                            <span>Media added to Watch Later.</span>
                            <div class="confirmation">
                                <a href="" id="yes">Ok</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!------------------------------ END OF MAIN ------------------------->
    </div>

    <!----------------------- JAVASCRIPT--------------------->
    <script src="/user-panel/Search Videos/user-panel-search.js"></script>

</body>
</html>