<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="user-panel-signup.css">
    <link rel="icon" href="/other-images/logo.png" type="image/icon type">

    <title>Customer Registration</title>
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form signup">

                <!-- Registration Heading -->
                <span class="title">Registration</span>

                <!-- Next Link After Clicking Next-->
                <form action="#" method="post">

                    <!-- Name text field -->
                    <div class="input-field">
                        <input type="text" name="name" placeholder="Enter your name" required>
                        <i class="uil uil-user"></i>
                    </div>

                    <!-- Email text field -->
                    <div class="input-field">
                        <input type="text" name="email" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>

                    <!-- Password text field -->
                    <div class="input-field">
                        <input type="password" name="pass" class="password" placeholder="Create a password" required>
                        <i class="uil uil-lock icon"></i>
                    </div>

                    <!-- Confirm Password text field -->
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirm a password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <!-- Gendertext field -->
                    <div id="gender" class="input-field">
                        <label for="">Gender</label>
                        <select name="picker" id="">
                            <option value="" selected>Select gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>

                    <!-- Sign up Button -->
                    <div class="input-field button">

                        <!-- In case of user login -->
                        <a href="user-panel-subscription"><input type="submit" value="Next" id="signUpBtn"></a>

                        <!-- In case of admin login -->
                        <!-- <a href="/admin-panel/Dashboard/admin-panel-dashboard.html"><input type="button" value="Next" id="signUpBtn"></a> -->                        
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="user-panel-signup.js"></script>

</body>
</html>
